<p>demo works!</p>


<a [routerLink]="['/home']">Home</a>

<!-- <div style="margin: auto;padding: 25px;" class="jersey">
    <h3 style="font-weight: bolder;">Kaka 22</h3>
    <h3 style="font-weight: bolder;">Ozil 10</h3>
    <h3 style="font-weight: bolder;">Modric 10</h3>
    <h3 style="font-weight: bolder;">Ronaldo 7</h3>
    <h3 style="font-weight: bolder;">Messi 10</h3>
    <h3 style="font-weight: bolder;">Steyn 8</h3>
    <h3 style="font-weight: bolder;">Rues 11</h3>
    <h3 style="font-weight: bolder;">Cruyff 14</h3>
    <h3 style="font-weight: bolder;">Zidane 10</h3>
    <h3 style="font-weight: bolder;">Henry 14</h3>
</div> -->

<div class="cycle-slideshow cycle-autoinit" 
     data-cycle-fx = "scrollHorz" 
     
     data-cycle-timeout="1000"
     data-cycle-easing="linear"
  
     data-cycle-slides="> div">

    <div><h3 style="font-weight: bolder;">Kaka 22</h3></div>
    <div><h3 style="font-weight: bolder;">Ozil 10</h3></div>
    <div><h3 style="font-weight: bolder;">Modric 10</h3></div>
    <div><h3 style="font-weight: bolder;">Ronaldo 7</h3></div>
    <div><h3 style="font-weight: bolder;">Messi 10</h3></div>
    <div><h3 style="font-weight: bolder;">Steyn 8</h3></div>
    <div><h3 style="font-weight: bolder;">Rues 11</h3></div>
    <div><h3 style="font-weight: bolder;">Maldini 3</h3></div>
    <div><h3 style="font-weight: bolder;">Zidane 10</h3></div>
    <div><h3 style="font-weight: bolder;">Henry 14</h3></div>
    
</div>
