<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <header class="header">
    <a style="float: left;" [routerLink]="['/demo']">Demo</a>
    <a style="float: right;" [routerLink]="['/home']">Home</a>

  </header>
  <div class="content-body">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav">Nav 
      <h1>{{platform}}</h1>
    </nav>
    <aside class="ads">Ads</aside>
  </div>
  <footer class="footer">Footer</footer>
</div>



